@font-face {
  font-family: "Outfit";
  font-stretch: 25% 150%;
  font-style: normal;
  font-weight: 100 900;
  src: url(Outfit.ttf) format('truetype');
}

:root {
  --faff: #ffaff3;
  --code-melon: #ffd596;
  --cream: #fffbe8;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--cream);
  margin: 0;
  font-size: 18px;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-screen h1 {
  font-size: 32px;
  font-weight: bold;
}

.title-screen img {
  height: 200px;
  margin: 2rem;
}

.game {
  padding: 30px;
  width: 90vw;
  max-width: 750px;
  min-height: 460px;
  background-color: var(--cream);
  border-radius: 50px;
  border: 6px solid var(--faff);
  box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.33);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.game .status {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.game .hearts {
  display: flex;
  height: 40px;
}

.game .diamonds {
  display: flex;
  height: 33px;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #584355;
  background: rgba(195, 193, 185, 0.50);
  padding: 0 8px;
  gap: 5px;
}

.game .diamonds img {
  height: 25px;
}

.game-background {
  height: 100vh;
  width: 100vw;
  background-color: var(--code-melon);
  display: flex;
  align-items: center;
  justify-content: center;
}

.word-placeholder {
  position: relative;
  top: 2px;
  border-bottom: 3px dashed black;
}

.word-selected,
.word-placeholder {
  display: inline-block;
  width: 70px;
  margin: 0 4px;
}

.sentence button:disabled {
  cursor: unset;
}

.images {
  align-self: stretch;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.images img {
  height: 150px;
}

.fixed-chunk {
  font-size: 24px;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0 8px;
  white-space: nowrap;

  border-radius: 10px;
  border: 2px solid rgba(88, 67, 85, 0.50);
  background: #F0EEFF;
  box-shadow: 0 2px 2px 0 rgba(88, 67, 85, 0.20);
}

button:disabled {
  cursor: unset;
}

ul {
  padding: 0;
  list-style: none;
}

.game ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}

.game li {
  display: inline-block;
}

.credits-background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.credits {
  min-height: 100vh;
  max-width: 95vw;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  animation: credits-scroll 40s linear forwards;
}

@keyframes credits-scroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(calc(-100% - 100vh));
  }
}

.credits h1,
.credits h2 {
  text-align: center;
  margin: 1rem;
}

.credit {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  white-space: nowrap;
}

.credit > * {
  flex: 1;
}

.credit-role {
  text-align: right;
}

.credit li {
  display: block;
  text-transform: uppercase;
}

.credits .disclaimer {
  margin-top: 4rem;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 480px)  {
  .credit {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .credit-role {
    margin-bottom: -1rem;
  }
  .credit * {
    text-align: center;
  }
}
